:root {
  --dark-charcoal: hsl(24, 5%, 18%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --rose-white: hsl(330, 100%, 98%);
  --nutmeg: hsl(14, 45%, 36%);
  --light-grey: hsl(30, 18%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 100%;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto 40px;
}

.recipe-details h1 {
  font-family: "Young Serif", sans-serif;
  text-align: left;
  margin: 20px 0px;
  font-weight: 400;
  font-size: 32px;
}

.description {
  color: var(--wenge-brown);
  margin-right: 80px;
}

.preparation {
  width: 311px;
  height: 196px;
  border-radius: 10px;
  padding: 24px;
  margin-top: 30px;
  background-color: var(--rose-white);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.prep-title {
  color: var(--dark-raspberry);
  font-size: 24px;
  margin-bottom: 16px;
  text-align: top;
}

.prep-info {
  color: var(--wenge-brown);
  display: flex;
  flex-direction: column;
  width: 263px;
  gap: 16px;
  padding-left: 24px;
}

.prep-info li {
  align-items: left;
}

span {
  color: var(--wenge-brown);
  font-weight: 700;
}

.section-title {
  color: var(--nutmeg);
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.ingredients {
  width: 311px;
  height: 228px;
  margin-top: 20px;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 26px;
}

.ingredients ul li {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--wenge-brown);
  font-size: 1rem;
  list-style-position: outside;
}

.ingredients p {
  padding-left: 8px;
}

hr {
  border: 1px solid var(--light-grey);
  margin: 20px 0;
  width: 311px;
}

.instructions {
  width: 311px;
  margin-top: 10px;
}

.instructions ol li {
  font-weight: 400;
  color: var(--wenge-brown);
  padding-left: 16px;
}

.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.nutrition {
  width: 311px;
  height: 380px;
}

.nutrition-info {
  color: var(--wenge-brown);
  font-weight: 400;
}

.calories,
.carbs,
.protein,
.fat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 0 32px;
  /* padding-left: 16px; */
}

.nutritional_details {
  margin: 24px 0 40px 0;
  display: flex;
  flex-direction: column;
}

.count_values {
  color: var(--dark-raspberry);
  font-weight: 700;
}

@media screen and (min-width: 575px) {
  body {
    background-color: var(--rose-white);
  }

  main {
    max-width: 50%;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
  }

  header {
    margin: 20px 20px 0 20px;
  }

  .header-img {
    max-width: 100%;
    max-height: 400px;
  }

  .recipe-content {
    margin: auto 20px;
  }

  .recipe-details h1 {
    margin-bottom: 20px;
  }

  .preparation {
    width: 95%;
    height: 196px;
    border-radius: 10px;
    padding: 24px;
    margin-top: 30px;
  }

  hr {
    border: 1px solid var(--light-grey);
    margin: 20px 0px;
    width: 95%;
  }

  .instructions {
    width: 95%;
    margin-top: 10px;
  }

  .nutrition {
    width: 95%;
  }

  .calories,
  .carbs,
  .protein,
  .fat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 200px;
  }

  .count_values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
